# ignore idea configuration
*.pyc
.idea/
./basic_network/.idea/
./basic_network/seq2seq_attention/.idea/
./basic_network/GAN/.idea/
./basic_network/word2vec/.idea/
./basic_network/word2vec/.ipynb_checkpoints/
./question_generation/.idea/
./nlp_datasets_tool/.idea/
./nlp_datasets_tool/data_cache/
./basic_network/torch_transformer_self-attention_paper_reproduction/.idea/
./knowledge_point_extraction/.idea/