# ignore idea configuration
*.pyc
*checkpoint.ipynb
.idea/
./basic_network/.idea/
./basic_network/seq2seq_attention/.idea/
./basic_network/GAN/.idea/
./basic_network/word2vec/.idea/
./basic_network/word2vec/.ipynb_checkpoints/
./question_generation/.idea/
./nlp_datasets_tool/.idea/
./nlp_datasets_tool/data_cache/
./basic_network/torch_transformer_self-attention_paper_reproduction/.idea/
./knowledge_point_extraction/.idea/
./question_generation/.idea/
./question_generation/gpt_generation/.idea/
./question_generation/tianchi_chinese_medical/.idea/
./knowledge_point_extraction/.idea/
./knowledge_point_extraction/data/
./text_rewrite/.idea/
./text_rewrite/data/
./model_server/.idea/
baidu_aistudio_dl/.idea/